.informacion3 {
    margin-left: 10rem;
    font-family: 'Montserrat', sans-serif;
}

.informacion3 label{
    font-family: 'Montserrat', sans-serif;
}

.informacion3 button {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 25px;
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    border: 3px solid #c9f8ff;
    transition: 0.5s;
    font-size: 16px;
    padding: 1rem;
}

.informacion3 button:hover{
    margin: 1rem;
    background-color: black;
    color: white;
    transition: 0.5s;
}

.resultados {
    margin-top: 1rem;
}

.resultados p {
    font-family: 'Montserrat', sans-serif;
}

